.forgot_password {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;

  & > a {
    color: #8000ff;
    font-weight: 500;
  }
}
.button-inverted {
  background-color: #f0f0f0;
}
span a {
  color: #8000ff;
  text-decoration: none;
}
.button-inverted {
  display: flex;

  & > Button {
    background-color: #f0f0f0;
  }
}
