.div_container {
  position: relative;

  & .position {
    position: absolute;
    top: 120px;
    background-color: white;
    width: 10%;
    right: 135px;
    text-align: center;
  }
  & hr {
    color: grey;
  }
  & #gSignInWrapper {
    margin-top: 15px;
  }
}
